.Map {
  width: 100%;
  height: 100%;
  position: relative;

  .ol-zoom {
    position: absolute;
    top: 10px;
    right: 10px;
    left: auto;
    
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.9);
      border: none;
      cursor: pointer;
      
      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}
